<div class="container">
  <div class="col-md-4 col-md-offset-5">
    <h1>Stupid Coaching</h1>
  </div>
  <div class="col-md-4 col-md-offset-5">
    <p>Say something to your coach</p>
  </div>

  <div class="col-md-4 col-md-offset-5">
    <div class="form-group">
    <form action="/answer" method ="get" class="form-inline">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Say!" class="btn btn-primary">
    </form>
  </div>
</div>
</div>
