// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question {
  border-left: 8px solid #dbdbdb;
  padding: 10px;
  margin: 10px;
}

.response {
  border-left: 8px solid #dbdbdb;
  padding: 10px;
  margin: 10px;
  background-color: #fffcc4;
}



